


body{
 background-color: rosybrown;
 color: black;
 text-align: center;
 
}



.row {
    margin: 0px auto;
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: white;
    padding: 0px 30px;
    border-radius: 10px;
    
  }

  button{
      width: 20%;
      height: 20px;
      border-radius: 8px;
      font-size: 15px;
      color: white;
      border: none;
      background-color: blue;
      cursor: pointer;
      margin-bottom: 10px;
  }

  .form-group .row{
      font-size: 15px;
  }

.span{
    color: red;
}

.container{
    margin: 0px auto;
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: white;
    padding: 0px 30px;
    border-radius: 10px;
    margin-top: 20px;
    

}
.title{
    color: blue;
}
.submit{
    margin-top: 10px;
    margin-bottom: 10px;
}
  
      
    
    



