
.products{
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rosybrown;
    border-radius: 5px;

}

.card{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;

}
.card:hover{
    background-color: gray;
    transform: scale(1,1);
    cursor: pointer;
}

.product-image{
    width: 100%;
    max-width: 300px;
    min-height: 250px;
    display: block;
    object-fit: cover;

}

.product.name{
    margin: 10px 0px;

}

.product-price{
    margin: 10px 0px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    
}

.product-add-button{
    font-weight: 200;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    height: 30px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px auto;
}
.product-add-button:hover{
    background-color:blue;
}
.product-add-button:active{
    transform: translateX(2px);
}